<form [formGroup]="form">

  <div class="section">

    <!-- HEADER -->
    <div class="section-header" (click)="toggleSection()">

      <span>
        {{ isOpen ? '▲' : '▼' }}
      </span>

      <h3>
        {{ labels[lang].amountDetailsinimportstandbylcamount }}
      </h3>

    </div>

    <!-- BODY -->
    <div class="section-body" *ngIf="isOpen">

      <div class="form-grid">

        <!-- AMOUNT -->
        <div class="form-group">

          <label>
            {{ labels[lang].amountinimportstandbylcamount }}
          </label>

          <textarea
            rows="3"
            formControlName="amount">
          </textarea>

        </div>

        <!-- ADDITIONAL AMOUNT -->
        <div class="form-group">

          <label>
            {{ labels[lang].additionalAmountinimportstandbylcamount }}
          </label>

          <input type="text" formControlName="additionalAmount">

        </div>
</div>
        <div class="form-grid">

        <!-- +% -->
        <div class="form-group">

          <label>
            {{ labels[lang].percentPlusinimportstandbylcamount }}
          </label>

          <input type="text" formControlName="percentPlus">

        </div>

        <!-- -% -->
        <div class="form-group">

          <label>
            {{ labels[lang].percentMinusinimportstandbylcamount }}
          </label>

          <input type="text" formControlName="percentMinus">

        </div>

</div>
        <div class="form-grid">
        <!-- TOLERANCE -->
        <div class="form-group">

          <label>
            {{ labels[lang].toleranceinimportstandbylcamount }}
          </label>

          <select formControlName="tolerance">

            <option value="">
              {{ labels[lang].selectinimportstandbylcamount }}
            </option>

            <option *ngFor="let item of toleranceOptions" [value]="item">
              {{ item }}
            </option>

          </select>

        </div>
        </div>
        
        <div class="form-grid">

        <!-- ADDITIONAL INFO -->
        <div class="form-group full-width">

          <label>
            {{ labels[lang].additionalSupplementaryInfoinimportstandbylcamount }}
          </label>

          <textarea
            rows="5"
            formControlName="additionalSupplementaryInfo">
          </textarea>

        </div>

      </div>

    </div>

  </div>

</form>