<form [formGroup]="form">

<div class="section">

  <!-- HEADER -->
  <div class="section-header" (click)="toggleSection()">
    <span>{{ isOpen ? '▲' : '▼' }}</span>
    <h3>{{ labels.en.goods }}</h3>
  </div>

  <!-- BODY -->
  <div class="section-body" [class.closed]="!isOpen">

    <!-- GOODS CODE -->
    <div class="form-group">
      <label>{{ labels.en.goodsCode }}</label>
      <input type="text" formControlName="goodsCode">

      <div *ngIf="form.get('goodsCode')?.touched && form.get('goodsCode')?.invalid">
        Goods Code is required (max 20 chars)
      </div>
    </div>

    <!-- GOODS DESCRIPTION -->
    <div class="form-group full-width">
      <label>{{ labels.en.goodsDescription }}</label>
      <textarea formControlName="goodsDescription"></textarea>

      <div *ngIf="form.get('goodsDescription')?.touched && form.get('goodsDescription')?.invalid">
        Description is required (max 200 chars)
      </div>
    </div>

    <!-- SAVE -->
    <div class="save-section">
    
    </div>

  </div>

</div>

</form>